.menu {
    height: 100px;
    width: 900px;
    background-color: black;
}
a {
    text-decoration: none;
    color: aliceblue;
    margin-left: 30px;
}
.cuerpo{
    width: 900px;
    height: 500px;
    background-color: rgb(179, 139, 216);
}

.final{
    width: 900px;
    height: 200px;
    background-color: rgb(238, 88, 33);
}