.menu{
    width: 900px;
    height: 100px;
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
}
.cuerpo{
    width: 900px;
    height: 500px;
    background-color: cornflowerblue;
}
.cuerpos{
    width: 900px;
    height: 500px;
    background-color: rgb(20, 178, 3);
}
.cuerp{
    width: 900px;
    height: 500px;
    background-color: rgb(15, 3, 178);
}
.final{
    width: 900px;
    height: 200px;
    background-color: rgb(193, 243, 14);
}
